<%-include("partials/header")-%>

<div class="home">
  <h1>Get yourself</h1>
  <h1>Share with yourBook</h1>
  <div class="home_login">
    <a href="/login"> <h1>login to share yourself</h1> </a>


  </div>
</div>


<%-include("partials/footer")-%>
