<%-include("partials/header")-%>
<div class="container mt-5">
  <h1>Login</h1>
 <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
             <h2>Sign In with Google</h2>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
<%-include("partials/footer")-%>
